
__pycache__/
*.py[cod]
*$py.class


venv/
env/
.venv/
.env


.idea/


.env
.env.local


*.log
*.sqlite3


dist/
build/
*.egg-info/


.pytest_cache/
.coverage
htmlcov/

.DS_Store
Thumbs.db

SRCNN/chuj/
SRCNN/dupa/
backup/
valid/
train/
source/
output/
SRCNN/checkpoints_2x/
SRCNN/input
SRCNN/label
SRGAN/checkpoints_2x/
